<div class="card bg-light mb-3">
    <div class="card-header">
        <span class="text-capitalize font-weight-bold">{{ offer.name }}</span>
        <span>{{ offer.createdAt|date }}</span>

        {% if offer.active %}
            <span class="badge badge-success float-right">{{ 'offer.active' | trans }}</span>
        {% else %}
            <span class="badge badge-warning float-right">{{ 'offer.inactive' | trans }}</span>
        {% endif %}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="">
                <span class="font-weight-bolder">{{ 'offer.tags' | trans }}:</span>
                {%  for tag in offer.tags %}
                    <span class="badge badge-primary">{{ tag.name }}</span>
                {% endfor %}
            </div>
        </div>

        <div class="row">
            <div class="">
                <span class="font-weight-bolder">{{ 'offer.exchangeTags' | trans }}:</span>
                {%  for tag in offer.exchangeTags %}
                    <span class="badge badge-info">{{ tag.name }}</span>
                {% endfor %}
            </div>
        </div>
        <hr>

        {% if 0 < offer.images.count %}
        <div class="row">
            <div class="flex-images" id="gallery">
                {% for image in offer.images %}
                    <div class="item" data-w="200" data-h="150">
                        <a href="{{ asset('uploads/imgs/') ~ image.file }}" data-lightbox="offer-{{ offer.id }}-images">
                            <img src="{{ asset('uploads/imgs/') ~ image.file }}" alt="">
                        </a>

                        {{ include('image/_delete_form.html.twig') }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <hr>
        {% endif %}

        <div class="row">
            <h5 class="card-title">
                {{ 'offer.description' | trans }}
            </h5>
            <p class="card-text">
                {{ offer.description }}
            </p>
        </div>
        <hr>

        <div class="row">
            <div class="col">
                <a class="btn btn-primary m-1" href="{{ path('offer_index') }}">
                    {{ 'offer.back_to_index' | trans }}
                </a>
            </div>
            <div class="col d-flex justify-content-end">
                {{ include('offer/_actions.html.twig') }}
            </div>
        </div>
    </div>
</div>
