{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

{# flex-images data-w data-h comes from js-plugin#}
<div class="flex-images" id="gallery">
    {% for image in offer.images %}
        <div class="item" data-w="200" data-h="150">
            <a href="{{ asset('uploads/imgs/') ~ image.file }}" data-lightbox="offer-{{ offer.id }}-images">
                <img src="{{ asset('uploads/imgs/') ~ image.file }}" alt="">
            </a>

            {{ include('image/_delete_form.html.twig') }}
        </div>
    {% endfor %}
</div>
