{% block listing %}
    {{ include('offer/_search_form.html.twig') }}

    <div class="navigation text-center">
        {{ knp_pagination_render(offers) }}
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Active</th>
            <th>Name</th>
            <th>Description</th>
            <th>Id</th>
            <th>CreatedAt</th>
            <th>UpdatedAt</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for offer in offers %}
            <tr>
                <td>{{ offer.active ? 'Yes' : 'No' }}</td>
                <td>{{ offer.name }}</td>
                <td>{{ offer.description }}</td>
                <td>{{ offer.id }}</td>
                <td>{{ offer.createdAt ? offer.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ offer.updatedAt ? offer.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('offer_show', {'id': offer.id}) }}">show</a>
                    <a href="{{ path('offer_edit', {'id': offer.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation text-center">
        {{ knp_pagination_render(offers) }}
    </div>
{% endblock %}
