<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body class="bg-secondary">
        {{ include('utils/_header.html.twig') }}

        <div class="content jumbotron">
            {{ include('utils/_flash_messages.html.twig') }}
            <div class="container">
            {% block body %}{% endblock %}
            </div>
        </div>

        {{ include('utils/_footer.html.twig') }}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
        {% endblock %}
    </body>
</html>
