<div class="header">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Sharing</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        {% if app.user.id is defined %}
            <li class="nav-item active">
                <a class="nav-link" href=" {{ path('user_offer_index', {'id':app.user.id}) }} ">
                    {{ 'my_offers'|trans }}
                    <span class="sr-only">(current)</span>
                </a>
            </li>

          <li class="nav-item">
            <a class="nav-link" href=" {{ path('offer_index') }} ">
              {{ 'offers'|trans }}
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=" {{ path('user_index') }} ">
              {{ 'users'|trans }}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=" {{ path('city_index') }} ">
              {{ 'city'|trans }}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=" {{ path('tag_index') }} ">
              {{ 'tags'|trans }}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=" {{ path('exchange_request_index') }} ">
              {{ 'exchnage_request'|trans }}
            </a>
          </li>
        {% endif %}
      </ul>

      <ul class="navbar-nav">
        {% if app.user.id is not defined %}
          <li class="nav-item">
            <a class="nav-link" href=" {{ path('user_new') }} ">
              {{ 'register'|trans }}
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href=" {{ path('security_login') }} ">
              {{ 'login'|trans }}
            </a>
          </li>
        {% endif %}

        {% if app.user.id is defined %}
            <li class="nav-item">
                <a class="nav-link disabled">
                    {{ app.user.username }}
                </a>
            </li>

          <li class="nav-item">
            <a class="nav-link" href=" {{ path('security_logout') }} ">
              {{ 'logout'|trans }}
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
  </nav>
</div>
